@{
	Layout = "";
}


@model List<BankDto>

@foreach (BankDto bank in Model)
{
	<div class="element-block">
		<a href="" class="text-reset text-decoration-none">
			<table class="element-table">
				<tr>
					<th>
						Bank name: @bank.BankName
					</th>
				</tr>
				<tr>
					<th>
						Our rating is @bank.Rating
					</th>
				</tr>
				<tr>
					<th>
						We have @bank.ActiveClientsCount active clients
					</th>
				</tr>
			</table>
		</a>

		<div class="action-buttons">
			<form asp-controller="Bank" asp-action="UpdateBank" asp-route-bankId=@bank.Id id="add-form" method="get">
				<input name="loadPageCount" class="update-bank-input" type="hidden">
				<button class="update-element" type="submit">Update Bank</button>
			</form>
			<button class="delete-element" data-element-id="@bank.Id">Delete Bank</button>
		</div>
	</div>
}