:root {
    --dark-green-color: #20a96b;
    --medium-green-color: #29cf85;
    --medium-ligth-green-color: #86caa9;
    --ligth-green-color: #97e2bf;
    --white-green-color: #e0f8e0;
}

/*General styles*/
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.ul-none {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*Header section*/
header {
    background-color: var(--dark-green-color);
    color: white;
}

/*SideBar*/
#menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    min-height: 60px;
}

    #menu img {
        position: absolute;
        top: 10px;
        left: 10px;
        cursor: pointer;
        z-index: 4;
    }



#open-menu {
    width: 34px;
    height: auto;
    transition: all 1s ease-out;
    transform: scale(1);
}

    #open-menu.clicked {
        transition: all 1s ease-out;
        transform: scale(0) rotate(360deg);
    }

#close-menu {
    transition: all 1s ease-out;
    transform: scale(1);
    width: 22.6px;
    height: auto;
}

    #close-menu.clicked {
        transition: all 1s ease-out;
        transform: scale(0) rotate(360deg);
    }

#menu ul {
    width: 100%;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 16px;
    transform: scale(0);
    transform-origin: left top;
    background-color: var(--medium-green-color);
    border-radius: 0 0 20px 0;
    transition: all 1s ease-out;
}

    #menu ul li {
        width: 100%;
    }

#menu.opened ul {
    transform: scale(1);
    transform-origin: left top;
}

    #menu.opened ul li {
        text-align: center;
        transition: all 1s ease-out;
    }

    #menu.opened ul li {
        padding: 10px 40px;
        color: white;
    }

        #menu.opened ul li:hover {
            cursor: pointer;
            background-color: var(--dark-green-color);
            color: var(--white-green-color);
        }

#menu ul li a {
    width: 100%;
    height: 100%;
}

/*Main*/
main {
    flex: 1 0 auto;
}


/*Footer*/
footer {
    flex-shrink: 0;
    background-color: var(--dark-green-color);
}

    footer .left-empty-part {
        background: linear-gradient(to left, var(--dark-green-color), var(--medium-ligth-green-color));
    }

    footer .rigth-empty-part {
        background: linear-gradient(to right, var(--dark-green-color), var(--medium-ligth-green-color));
    }


.footer-images {
    width: 40px !important;
    height: auto !important;
}


/*Page content*/
.main-content-block {
    margin-bottom: 1vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-list {
    text-align: center;
    padding: 20px 5px;
    font-size: 18px;
    width: 20vw;
    background-color: var(--medium-green-color);
    border: 4px solid var(--dark-green-color);
    border-radius: 10px;
}

.action-panel {
    margin-top: 64px;
    margin-bottom: 32px;
}
.add-element {
    background-color: var(--dark-green-color);
    padding: 14px 48px;
    border-radius: 6px;
    border: 0px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.load-more {
    background-color: #007bff;
    padding: 14px 48px;
    border-radius: 6px;
    border: 0px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.add-entity-block {
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    background-color: var(--medium-green-color);
    border-radius: 10px;
    border: 4px solid var(--dark-green-color);
    padding: 10px 40px;
    font-size: 16px;
    max-width: 48vw;
}

.add-form {
    display: flex;
    flex-direction: column;

}
    .add-form input:not([type="radio"]) {
        margin-top: 16px;
        width: 100%;
        height: 4vh;
        background-color: var(--ligth-green-color);
        border: 1px solid grey;
        border-radius: 8px;
    }

.radio-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px
}
.radio-buttons label{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:4px
}
.radio-elements{
    margin-top:16px
}

.create-element {
    margin-top: 20px;
    background-color: var(--dark-green-color);
    border-radius: 8px;
    border: 0px;
    width: 40vw;
    height: 6vh;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.success-message {
    display:block;
    margin-top:16px;
    font-size: 24px;
    font-weight: bold;
    color: #064e3b;
}
.error-validation-message {
    margin-top: 16px;
    color: #e74c3c;
}

    .error-validation-message span {
        font-size: 24px;
        font-weight: bold;
    }

.element-table {
    width: 40vw;
    margin-top: 4vh;
    background-color: var(--medium-green-color);
    border: 4px solid var(--dark-green-color);
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: var(--white-green-color);
}

    .element-table th {
        padding: 12px;
    }

.action-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:40px;
    font-size: 18px;
    margin-top: 8px;
}

.update-element {
    color: white;
    background-color: #4169E1;
    cursor: pointer;
    border: 0px;
    border-radius: 6px;
    padding: 8px 21px;
    font-weight: bold;
}

.delete-element {
    color: white;
    background-color: #DC143C;
    cursor: pointer;
    border: 0px;
    border-radius: 6px;
    padding: 8px 21px;
    font-weight: bold;
}

.back-link img{
    width:34px;
    height:auto
}