:root {
    --dark-green-color: #20a96b;
    --medium-green-color: #29cf85;
    --medium-ligth-green-color: #86caa9;
    --ligth-green-color: #97e2bf;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/*General styles*/
.p-0-75 {
    padding: 0.75rem;
}

.ml-0-75{
    margin-left: 0.75rem;
}


/*Header part*/
header{
    background-color: var(--dark-green-color);
}

.header-info{
    color:white;
}

main {
    flex: 1 0 auto;
}

.a-none {
    color: inherit;
    text-decoration: none;
}


/*Main*/
.main-content-and-sidebar {
    display: flex;
    flex-direction: row;
}

/*Sidebar*/
#open-menu-block {
    position: relative;
}

.menu-icons {
    width: 34px !important;
    height: auto !important;
    margin: 8px;
    transition: all 1s ease-in;
}

#open-menu {
    position: absolute;
    cursor: pointer;
}

#open-menu-block:hover .menu-icons {
    transition: all 1s ease-out;
    margin: 12px;
}

#open-menu-background {
    position: absolute;
    width: 60px;
    height: 60px;
    transform: scale(0);
    transform-origin: left top;
    cursor: pointer;
    transition: all 1s ease-in;
}

#open-menu-block:hover #open-menu-background {
    transition: all 1s ease-out;
    background-color: var(--dark-green-color);
    border-radius: 0 0 20px 0;
    transform: scale(1);
}

/*Opening menu*/
#open-menu.clicked {
    transition: all 1s ease-out;
    transform: scale(0) rotate(360deg);
}

#close-menu.clicked {
    transform: scale(0);
    transition: all 1s ease-out;
}

#close-menu {
    cursor: pointer;
    transform: scale(1) rotate(360deg);
}



#menu {
    display: none;
    transform: scaleX(0);
}

/*Page content*/
.page-content {
    position: absolute;
    margin-left: 10vw;
}

/*Footer styles*/
.left-empty-part {
    background: linear-gradient(to left, var(--dark-green-color), var(--medium-ligth-green-color));
}

.rigth-empty-part {
    background: linear-gradient(to right, var(--dark-green-color), var(--medium-ligth-green-color));
} 

footer .col-sm-8{
    background-color: var(--dark-green-color);
}

.footer-images {
    width: 40px !important;
    height: auto !important;
}
