:root {
    --heavy-dark-green-color: #1b5e20;
    --dark-green-color: #20a96b;
    --medium-green-color: #29cf85;
    --medium-ligth-green-color: #86caa9;
    --ligth-green-color: #97e2bf;
    --white-green-color: #e0f8e0;
    --menu-green-color: #3be282;
}

/*General styles*/
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.ul-none {
    list-style: none;
    margin: 0;
    padding: 0;
}
.border-none{
    border: none !important;
}
img, svg {
    user-select: none;
    -webkit-user-drag: none;
    outline: none;
}


/*Header section*/
header {
    background-color: var(--dark-green-color);
    color: white;
    min-height: 68px;
    max-height: 68px;
    width: 100%;
}
#header-logo{
}
/*Main*/
main {
    flex: 1 0 auto;
}


/*Footer*/
footer {
    flex-shrink: 0;
    background-color: var(--dark-green-color);
}

    footer .left-empty-part {
        background: linear-gradient(to left, var(--dark-green-color), var(--medium-ligth-green-color));
    }

    footer .rigth-empty-part {
        background: linear-gradient(to right, var(--dark-green-color), var(--medium-ligth-green-color));
    }


.footer-images {
    width: 40px !important;
    height: auto !important;
}

/*SideBar*/
aside {
    display: flex;
    flex-direction: row;
    position: relative;
}

#aside-icons {
    position: relative;
    width: 60px;
    height: 60px;
    margin-top: 8px;
    margin-left: 8px;
}

    #aside-icons img {
        position: absolute;
        top: 50%;
        left: 50%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        cursor: pointer;
    }

#open-menu {
    width: 34px;
    height: auto;
    transform: scale(1);
    transition: transform 0.2s ease-out;
}

    #open-menu.clicked {
        transform: scale(0);
    }

#close-menu {
    width: 22.6px;
    height: auto;
    transform: scale(1);
    transition: transform 0.2s ease-out;
}

    #close-menu.clicked {
        transform: scale(0);
    }


#menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    position: absolute;
    top: 70px;
    min-width: 280px;
    width: 18%;
    background-color: var(--menu-green-color);
    transform-origin: left center;
    transform: scaleX(0);
    transition: transform 0.2s ease-out;
    z-index: 1;
}

    #menu.opened {
        transform: scaleX(1);
        border-radius: 0 0 15px 0;
    }

    #menu li {
        color: white;
        font-size: 18px;
        font-weight: 500;
        display: flex;
        width: 96%;
        height: 100%;
        align-items: center;
        justify-content: center;
        transition: background-color 1s ease-out;
        border-radius:14px;
    }

        #menu li:first-child {
            margin-top: 24px;
        }

        #menu li:last-child {
            margin-bottom: 24px;
        }

        #menu li:hover {
            background-color: #34b57a;
            color: white;
        }

        #menu li a {
            width: 100%;
            height: 100%;
            text-align: center;
            padding: 20px;
        }

#back-icon {
    display: flex;
    align-items: center;
    min-width: 40px;
    margin-right: 10px;
}

#search {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#find-element {
    position: relative;
    width: 34vw;
    height: 40px;
}

    #find-element input {
        background-image: url("images/main-page/search-icon.svg");
        background-size: 20px 20px;
        background-repeat: no-repeat;
        padding-left: 40px;
        background-position: 8px center;
        width: 100%;
        height: 100%;
        border-radius: 14px;
        border: none;
    }

    #find-element button {
        position: absolute;
        height: 40px;
        background-color: var(--dark-green-color);
        border-radius: 14px;
        min-width: 100px;
        border: none;
        right: 0;
        color: white;
        font-weight: bold;
    }

#filters {
    gap: 4px;
    margin-left: 14px;
}

    #filters img {
        cursor: pointer;
        width: 34px;
        height: auto;
    }

#sort-list {
    position: absolute;
    top: 64px;
    width: 174px;
    display: none;
    padding: 10px;
    border-radius: 14px;
    font-weight: 500;
    font-size: 16px;
}
    #sort-list.card-tarrifs-sort-list {
        width: 194px;
    }
    #sort-list label{
        cursor: pointer;
    }

    #sort-list.opened {
        display: flex;
        flex-direction: column;
        background-color: white;
        border: 1px solid lightgrey;
    }

    #sort-list label, #sort-list input {
        display: inline-block;
        vertical-align: middle;
    }

#filter-list {
    position: absolute;
    top: 64px;
    width: 218px;
    display: none;
    padding: 10px;
    border-radius: 14px;
}
    #filter-list label{
        cursor: pointer;
    }
    .header-label {
        font-weight: 500;
        font-size: 16px;
    }

    #filter-list.opened {
        display: flex;
        flex-direction: column;
        background-color: white;
        border: 1px solid lightgrey;
    }

    #filter-list label, #filter-list input {
        display: inline-block;
        vertical-align: middle;
    }

        #filter-list input[type="checkbox"] {
            height: auto;
        }

        #filter-list input[type="number"] {
            width: 100%;
        }

#submit-filters {
    width: 100%;
    text-align: center;
    color: white;
    height: 30px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    background-color: var(--dark-green-color);
}



/*Page content*/
.back-link img {
    width: 34px;
    height: auto
}

#colums {
    position: absolute;
    margin-top: 18px;
    right: 1%;
}

    #colums img {
        width: 38px;
        height: auto;
        cursor: pointer;
        border-radius: 12px;
        padding: 4px;
    }

        #colums img.chosen {
            background-color: var(--dark-green-color);
        }

#elements-block.two-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
}
/*Cards*/
.element-block {
    width: 30vw;
    margin-top: 4vh;
    background-color: whitesmoke;
    border: 4px solid lightgray;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    padding: 12px 0 12px 0;
}

.info-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 14px;
    cursor: pointer;
}
.name-text {
    font-size: 20px;
    font-weight: bold;
}
    .element-table th {
        padding: 6px;
    }

    .logo {
        width: 100px;
        height: auto;
        margin: 0 24px 0 24px;
        border-radius: 14px;
    }

.rating-icon{
    width: 24px;
    height: auto;
    margin-bottom: 4px;
}



    .element-block:not(.last-column-element) {
        grid-column: auto;
        justify-self: auto;
    }
.element-block.last-column-element {
    grid-column: 1 / -1;
    justify-self: center;
}

.main-content-block {
    margin-top: 4vh;
    margin-bottom: 1vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-list {
    text-align: center;
    padding: 20px 5px;
    font-size: 18px;
    width: 20vw;
    background-color: var(--medium-green-color);
    border: 4px solid var(--dark-green-color);
    border-radius: 10px;
    margin-bottom: 10px;
}

.action-panel {
    margin-top: 34px;
    margin-bottom: 44px;
}
.add-element {
    background-color: var(--dark-green-color);
    padding: 14px 48px;
    border-radius: 6px;
    border: 0px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.load-more {
    background-color: #007bff;
    padding: 14px 48px;
    border-radius: 6px;
    border: 0px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.add-entity-block {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 4px solid lightgray;
    padding: 10px 40px;
    font-size: 16px;
    max-width: 48vw;
    margin-bottom: 4vh;
}

.add-form {
    display: flex;
    flex-direction: column;
}
input[type="file"] {
    padding: 8px;
}
    .add-form h2{
        text-align: center;
        color: var(--heavy-dark-green-color);
    }
    .add-form label {
        font-size: 16px;
        padding-top: 6px;
        font-weight: 600;
    }
    .add-form input:not([type="radio"]) {
        width: 100%;
        height: 5vh;
        background-color: white;
        border: 1px solid lightgray;
        border-radius: 8px;
    }
.add-form input[type="radio"] {
    cursor: pointer;
}

.radio-elements {
    display: flex;
    flex-direction: column;
}
.radio-elements input[type="checkbox"] {
    width: 14px;
    height: 14px;
    cursor: pointer;
}



.create-element {
    margin-top: 20px;
    margin-bottom: 4px;
    background-color: var(--dark-green-color);
    border-radius: 8px;
    border: 0px;
    width: 40vw;
    height: 6vh;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.success-message {
    display:block;
    margin-top:16px;
    font-size: 24px;
    font-weight: bold;
    color: #064e3b;
}
.error-validation-message {
    margin-top: 16px;
    color: #e74c3c;
}

    .error-validation-message span {
        font-size: 24px;
        font-weight: bold;
    }


#elements-block {
    margin-top: -4vh;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 16px;
    margin-top: 2px;
}

.update-element {
    color: white;
    background-color: #4169E1;
    cursor: pointer;
    border: 0px;
    border-radius: 6px;
    padding: 7px 18px;
    font-weight: bold;
}

.delete-element {
    color: white;
    background-color: #DC143C;
    cursor: pointer;
    border: 0px;
    border-radius: 6px;
    padding: 7px 18px;
    font-weight: bold;
}


#header-functionality {
    position: sticky;
    min-height: 70px;
    top: 0px;
    background-color: var(--medium-green-color);
    box-sizing: border-box;
    z-index: 2;
    transform: scaleY(1);
    transform-origin: center bottom;
    transition: transform 0.4s linear;
}

    #header-functionality::after {
        content: "";
        position: absolute;
        bottom: -10px; 
        left: 0;
        right: 0;
        height: 10px;
        background: var(--medium-green-color);
        z-index: 2;
    }

/*Item info styles*/
#item-info-container {
    min-width: 60vw;
    margin-top: -14px;
    background-color: whitesmoke;
    border: 4px solid lightgray;
    border-radius: 14px;
}

#item-header {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 24px;
}
#item-header img{
    width: 104px;
    height: auto;
}

#item-info-table {
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto 30px auto;
}

    #item-info-table th {
        text-align: left;
        width: 30%;
        padding: 12px 10px;
        background-color: #e3e1e1;
        font-weight: 500;
        color: #444;
    }

    #item-info-table td {
        padding: 12px 10px;
        background-color: white;
    }

#item-info-action-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 30px;
    justify-content: center;
}

#item-info-action-buttons a{
    text-decoration: none;
    background-color: #20a96b;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    transition: background-color 0.2s ease-in-out;
}

    #item-info-action-buttons a:hover {
        background-color: #189157;
    }
    
    /*Button colors*/
    #item-info-action-buttons .delete {
        background-color: #fb0435;
    }
        #item-info-action-buttons .delete:hover {
            background-color: #b30029;
        }


    #item-info-action-buttons .update {
        background-color: #3478f6;
    }

        #item-info-action-buttons .update:hover {
            background-color: #215cd6;
        }

/*Bank cards*/
#bank-cards {
    padding: 14px 0 24px 14px;
    margin-bottom: 30px;
}

#bank-cards h4 {

}
    #bank-cards h5 {
    }


/*Confirm delete*/
#confirm-delete-window {
    position: fixed;
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

#delete-window {
    background-color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
    text-align: center;
}

    #delete-window h2 {
        margin-top: 0;
        font-size: 28px;
        color: #d32f2f;
    }

.delete-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

    .delete-buttons button {
        padding: 10px 18px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
    }

    .delete-buttons .confirm-delete-button {
        background-color: #d32f2f;
        color: white;
    }

    .delete-buttons .cancel-delete-button {
        background-color: #e0e0e0;
        color: black;
    }

/*Chose bank*/
.color-picker-wrapper {
    display: flex;
    flex-direction: row;
    gap: 6px;
    min-width: 100px;
    max-width: 120px;
    align-items: center;
    cursor: pointer;
}

#card-color {
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.color-preview {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #29cf85;
    pointer-events: none;
}
.payment-system-image{
    width:70px;
    height: auto;
}

#card-tariffs-element {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 14px 32px 0px 32px;
    justify-content: space-between;
}
    #card-tariffs-element h2{
        font-size: 26px;
    }
    #card-tariffs-element h4 {
        font-size: 20px;
    }
    #card-tariffs-element h5 {
        font-size: 18px;
    }

    #payment-systems {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

#card-and-bank-names {
    display: flex;
    flex-direction: column;
    gap:8px;
}

.right-card-side {
    display: flex;
    flex-direction: column;
    min-height: 190px;
    justify-content: space-between;
}
.card-details {
    display: flex;
    flex-direction: column;
    margin-left: 2px;
}
#card-action-buttons{
    margin-top: -10px;
}
#card-action-buttons button {
    padding: 8px 22px !important;
}

#card-info-color {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 30px;
}