<div class="d-flex flex-column align-items-center main-content-block">
    <h1>👋 @Localizer["greeting"] 🚀</h1>
    <h2 class="mt-4">@Localizer["opportunities"]</h2>
    <h2 class="mt-4">@Localizer["selectOption"]</h2>
</div>