<div class="d-flex flex-column align-items-center main-content-block">
    <h1>👋 Hello, Admin! Hope you're having a productive day 🚀</h1>
    <h2 class="mt-4">In this panel, you can manage banks, handle vacancies, create news, and manage users.</h2>
    <h2 class="mt-4">Select an action from the menu bar to get started.</h2>
</div>