:root {
    --dark-green-color: #20a96b
}

html, body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*Header part*/
header{
    background-color: var(--dark-green-color);
}

.header-info{
    color:white
}

main {
    flex: 1 0 auto;
}

/*Footer styles*/
footer .col-sm-2 {
    background-color: white
}

footer .col-sm-8{
    background-color: var(--dark-green-color)
}
